.sp-1 {
    font-weight: 100;
    &:hover {
        font-weight: 900;
    }
}

.sp-2 {
    font-weight: 200;
    &:hover {
        font-weight: 900;
    }
}

.sp-3 {
    font-weight: 300;
    &:hover {
        font-weight: 900;
    }
}

.sp-4 {
    font-weight: 400;
    &:hover {
        font-weight: 900;
    }
}

.sp-5 {
    font-weight: 500;
    &:hover {
        font-weight: 900;
    }
}

.sp-6 {
    font-weight: 600;
    &:hover {
        font-weight: 900;
    }
}

.sp-7 {
    font-weight: 700;
    &:hover {
        font-weight: 900;
    }
}

.sp-8 {
    font-weight: 800;
    &:hover {
        font-weight: 900;
    }
}