/* VARIABLES 
========================================================================== */

// Fuentes
$text-primary: 'ClashDisplay', sans-serif;
$text-secondary: "Inter", sans-serif;


// Span Variables
$sp-1: 100;
$sp-2: 200;
$sp-3: 300;
$sp-4: 400;
$sp-5: 500;
$sp-6: 600;
$sp-7: 700;
$sp-8: 800;
$sp-9: 900;


